<article class="module width_full">
  <iframe 
      src="https://www.google.com/calendar/embed?title={{calendar.title|urlencode}}&amp;height={{calendar.height}}&amp;mode={{calendar.mode}}&amp;wkst={{calendar.week_start}}&amp;bgcolor=%23FFFFFF&amp;src=86038okcpvst7aakennn86jt9g%40group.calendar.google.com&amp;color=%23B1440E&amp;src=6fg0s33u4legu3rrthae3ct6lc%40group.calendar.google.com&amp;color=%232F6309&amp;src=f8jlv6kpmgljgj7v0ituc8p9lk%40group.calendar.google.com&amp;color=%232952A3&amp;src=e2hmjeiip3fqvs9to2vgm1qovc%40group.calendar.google.com&amp;color=%23875509&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York"
      style=" border-width:0 "
      width="800" height="600"
      frameborder="0"
      scrolling="no">
  </iframe>
</article>
